---
import { Markdown } from 'astro/components'
import Block from '../../components/Block/Block.astro'

const data = Astro.fetchContent('./skill.tw.md');
const skill = data[0]
---
<style>
    .skill {
        column-count: 2;
        column-rule: solid var(--color-secondary);
        column-gap: 3em;
        & :global(h3) {
            margin-block-end: .5em;
        }
            

        @media (max-width: 720px) { 
            column-count: 1;
            & :global(h4) {
                margin-block-end: .5em;
            }
            
            & :global(br) {
                display: none;
            }
        }
    }

</style>
<Block header="Skill">
    <div class="skill content">
        <Markdown content={skill.astro.source}/>
    </div>
</Block>