---
import { Markdown } from 'astro/components';
import Block from '../../components/Block/Block.astro'

const contact = Astro.fetchContent('./contact.md');
---

<style>
    .contact {
        display: flex;
        & h3 {
            flex: 8em 1 0;
        }

        & > p {
            margin-top: 0;
            line-height: 26px;
            white-space: break-spaces;
            padding: 0 1em
        }
    }
</style>
<Block header="Contact">
    <div class="contact">
        <Markdown content={contact[0].astro.source} />
    </div>
</Block>