---
import { Markdown } from 'astro/components';
import Header from '../../components/Header/Header.astro'

const contact = Astro.fetchContent('./contact.md');
---

<div>
    <Header>
        Experiece
    </Header>
    <Markdown content={contact[0].astro.source}/>
</div>