---
import Base from '../components/Base.astro';

import Projects from '../blocks/Projects.astro';
import Skill from '../blocks/Skill.astro';
import Experience from '../blocks/Experience.astro';
import Contact from '../blocks/Contact.astro';
import Education from '../blocks/Education.astro';
import Intro from '../blocks/Intro.astro';
---

<Base lang="en-US">
  <Intro  lang="en" />
  <Skill slot="left" lang="en" />
  <Experience slot="left" lang="en" />
  <Projects slot="left" lang="en" />
  <div slot="left" class="container">
    <Contact lang="en"/>
    <Education lang="en"/>
  </div>
</Base>

<style>
  .container {
    display: flex;
    gap: 2ch;
    width: 100%;
  
    & > :global(*) {
      flex: 1 1 auto;
    }
  }
</style>
