---
import Base from '../components/Base.astro';

import Projects from '../blocks/Projects.astro';
import Skill from '../blocks/Skill.astro';
import Experience from '../blocks/Experience.astro';
import Contact from '../blocks/Contact.astro';
import Education from '../blocks/Education.astro';
import Intro from '../blocks/Intro.astro';
---

<Base lang='zh-TW'>
  <Intro />
  <Skill slot="left" />
  <Experience slot="left" />
  <Projects slot="left" />
  <div slot="left" class="container">
    <Contact/>
    <Education/>
  </div>
</Base>

<style>
  .container {
    display: flex;
    gap: 2ch;
    width: 100%;
  
    & > :global(*) {
      flex: 1 1 auto;
    }
  }
</style>