---
// Component Imports

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

import '../style/global.css';

import Intro from '../content/Intro/index.astro';
import Experience from '../content/Experience/index.astro';
import Projects from '../content/Projects/index.astro';
import Skill from '../content/Skill/index.astro';
import Contact from '../content/Contact/index.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <main>
      <Intro />
      <Experience />
      <Projects />
      <Skill />
      <Contact />
      <!-- 
    -->
    </main>
  </body>
</html>
