:root {
  --color-primary: #5452a4;
  --color-secondary: #71619e;
  --color-dark: #2c2b5f;
  --color-text: #363636;
  --color-text-secondary: #717070;
  --color-bg: #ffffff;
  --color-bg-secondary: #e7dad2;

  --shadow-color: 36deg 12% 58%;

  --shadow-elevation-medium: 0.2px 0.4px 0.5px hsl(var(--shadow-color) / 0.36),
    0.8px 1.2px 1.6px -0.8px hsl(var(--shadow-color) / 0.36),
    1.9px 3.1px 4.1px -1.7px hsl(var(--shadow-color) / 0.36),
    4.6px 7.6px 10px -2.5px hsl(var(--shadow-color) / 0.36);

  --shadow-elevation-high: 0.2px 0.4px 0.5px hsl(var(--shadow-color) / 0.34),
    1.3px 2.2px 2.9px -0.4px hsl(var(--shadow-color) / 0.34),
    2.5px 4.1px 5.4px -0.7px hsl(var(--shadow-color) / 0.34),
    4.1px 6.8px 8.9px -1.1px hsl(var(--shadow-color) / 0.34),
    6.5px 10.8px 14.2px -1.4px hsl(var(--shadow-color) / 0.34),
    10.2px 16.9px 22.2px -1.8px hsl(var(--shadow-color) / 0.34),
    15.5px 25.6px 33.7px -2.1px hsl(var(--shadow-color) / 0.34),
    22.9px 37.8px 49.7px -2.5px hsl(var(--shadow-color) / 0.34);
  /* https://www.joshwcomeau.com/shadow-palette/ */

  /* TODO use global variable as gap size  */
}

html {
  font-size: 14px;
  font-weight: 400;

  background: var(--color-bg-secondary);

  @media (max-width: 720px) {
    width: 100vw;
  }

  @media print {
    font-size: 10pt;
    line-height: 12pt;
  }
}

body {
  display: flex;
}

html,
body {
  font-family: system-ui;
  margin: 0;
  padding: 0 1em;

  @media (max-width: 720px) {
    padding: 0;
  }
}

main {
  margin: 4em auto;
  padding: 4em;
  box-sizing: border-box;
  box-shadow: var(--shadow-elevation-high);
  max-width: 960px;
  background-color: var(--color-bg);

  @media print {
    width: 100%;
    box-shadow: none;
    font-size: 10pt;
    padding: 1.5cm;
  }

  @media (max-width: 720px) {
    padding: 1em 1em;
    width: 100%;
    margin: 0;
  }
}

.content {
  padding: 0 12px;

  @media (max-width: 720px) {
    padding: 0 8px;
  }
}

div {
  box-sizing: border-box;
}

section {
  margin-block-end: 2em;
  page-break-inside: avoid;

  @media print {
    padding-bottom: 0cm;
    margin-block-end: 0cm;
  }

  @media (max-width: 720px) {
    margin-block-end: 0.5em;
  }
}

img {
  box-shadow: var(--shadow-elevation-medium);
  object-fit: cover;
  height: 100%;
  width: 100%;
}

h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);

  @media print {
    font-size: 2em;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: var(--color-secondary);
  margin-block-end: 0.1em;

  @media print {
    font-size: 1.5em;
  }
}

h3 {
  font-size: 1.2em;
  color: var(--color-secondary);

  @media print {
    font-size: 1.1em;
  }
}

h4 {
  font-size: 0.8em;
  font-weight: normal;
  color: var(--color-dark);
}

ul {
  padding-left: 1em;

  & li {
    line-height: 1.5em;
  }

  @media (max-width: 720px) {
    padding-left: 2em;
    padding-right: 1em;
    margin-block-start: 0;
    margin-block-end: 2em;
  }

  @media print {
    margin-block-end: 0.2cm;
  }
}

a {
  color: var(--color-secondary);
  position: relative;
  margin-right: 12px;
  display: inline-block;

  &::after {
    position: absolute;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="24"><path fill="none" d="M0 0h24v24H0z"/><path fill="olive" d="M18.364 15.536L16.95 14.12l1.414-1.414a5 5 0 1 0-7.071-7.071L9.879 7.05 8.464 5.636 9.88 4.222a7 7 0 0 1 9.9 9.9l-1.415 1.414zm-2.828 2.828l-1.415 1.414a7 7 0 0 1-9.9-9.9l1.415-1.414L7.05 9.88l-1.414 1.414a5 5 0 1 0 7.071 7.071l1.414-1.414 1.415 1.414zm-.708-10.607l1.415 1.415-7.071 7.07-1.415-1.414 7.071-7.07z"/></svg>');
    display: inline-block;
    transform: translateY(-0.5em);
  }
}

@media print {
  a {
    display: block;
    text-decoration: none;

    &::after {
      content: ' [' attr(href) ']';
      position: static;
      display: inline;
    }
  }

  img {
    display: none !important;
    /* width: auto !important; 
    height: 100pt !important;
    margin: auto;
    break-inside:avoid;
    break-after:avoid; */
  }
}

p,
img {
  break-inside: avoid;
  break-before: aleays;
  break-after: aleays;
}

ul,
ol {
  break-before: avoid;
}

@page {
  margin: 5mm;
  size: A4 potrait;
}

@page:left, @page:right {
  margin-left: 7cm;
}
