---
import '../style/global.css';
---

<html lang="en">
  <head>
    <title>Lance Resume</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
