---
import '../style/global.css';
import Floating from './Floating.astro';

export interface Props {
  lang: string;
}
const { lang = 'zh-TW' } = Astro.props;
---

<style>
  .layout {
    display: flex;
    gap: 1em;
    & .left {
      flex: 0 0 60%;
    }

    & .right {
      flex: 1 1 auto;
    }

    @media print {
      gap: 0em;
    }

    @media (max-width: 960px) {
      display: flex;
      flex-direction: column;
      & .left {
        flex: 0 1 70%;
      }

      & .right {
        flex: 0 0 auto;
      }
    }
  }
</style>
<html>
  <head>
    <title>Lance Resume</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body lang="en">
    <main>
      <h1>Lance Fang</h1>
      <div>
        <slot />
      </div>
      <div class="layout">
        <div class="left">
          <slot name="left" />
        </div>
        <div class="right">
          <slot name="right" />
        </div>
      </div>
    </main>
    <Floating />
  </body>
</html>
