---
import Header from './Header.astro';

export interface Props{
    header: string
}

const {header} = Astro.props;
---

<section>
    <Header>
        {header}
    </Header>
    <div> 
        <slot/>
    </div>
</section>