---
export interface Props {
  header: string;
  className?: string;
}

const { header, className } = Astro.props;
---

<style>
  .header {
    margin-block-end: 1.5em;

    @media print {
      margin-block-end: 0.5em;
    }
  }

  hr {
    border: var(--color-secondary) solid 1px;
  }
</style>
<section class:list={[className]}>
  <div class="header">
    <h2>
      {header}
    </h2>
    <hr />
  </div>
  <div>
    <slot />
  </div>
</section>
