---

---

<style>
  .header {
    margin-block-end: 2em;

    @media print {
      margin-block-end: 0.5em;
    }
  }

  h2 {
    font-weight: 400;
    margin-block-end: 0.1em;
  }

  hr {
    border: var(--color-primary) solid 1px;
  }
</style>
<div class="header">
  <h2>
    <slot />
  </h2>
  <hr />
</div>
