---
import dayjs from 'dayjs';

export interface Props {
  to: string;
  from: string;
  company: string;
}

const formatDate = (date) => {
  if (date === 'current') return date;
  return dayjs(date).format('MMM YYYY');
};

const { to, from, company } = Astro.props;
---

<style>
  .container {
    & .content *:nth-child(1) {
      margin-top: 0;
    }

    @media (max-width: 720px) {
      flex-direction: column;
    }
  }

  .cover {
    display: flex;
    align-items: baseline;
    gap: 2ch;

    @media print {
      width: auto;
    }
  }
</style>
<div class="container">
  <div class={'cover'}>
    <h3>{company}</h3>
    <h4>{formatDate(from)} - {formatDate(to)}</h4>
  </div>
  <div>
    <slot />
  </div>
</div>
