---
export interface Props {
  title: string;
  link: string;
  repoLink?: string;
}

const { title, link } = Astro.props;
---

<style>
  .header {
    display: flex;
    gap: 3ch;
    align-items: baseline;

    & > a {
      font-size: 0.8em;
    }
  }
</style>

<div>
  <div class="header">
    {
      link ? (
        <h3>
          <a target="_blank" href={link}>
            {title}
          </a>
        </h3>
      ) : (
        <h3>{title}</h3>
      )
    }
    <a target="_blank" href={link}>repo</a>
  </div>
  <slot />
</div>
