---
import Block from '../components/Block.astro';
import multilangSpliter, {
  type MD,
  type LangProps,
} from '../utils/multilangSpliter.js';

export interface Props extends LangProps {}

const { lang = 'tw' } = Astro.props;
const files = await Astro.glob('../content/contact/*.md');
const md = multilangSpliter(files, lang);

const Markdown = md.Content;
---

<style>
  .contact {
    display: flex;
    & h3 {
      flex: 8em 1 0;
    }

    & > p {
      color: blue;
      flex: auto 0.5 0;
      margin-top: 0;
      line-height: 13px;
      white-space: break-spaces;
      padding: 0 1em;
    }
  }

  @media print {
    .contact {
      & h3 {
        display: none;
        flex: none;
      }

      & > p {
        flex: none !important;
        margin-top: 1em !important;
        line-height: 1em !important;
        padding: 0;
      }
    }
  }
</style>
<Block header="Contact">
  <div class="contact">
    <Markdown />
  </div>
</Block>
