---
import Block from '../components/Block.astro';
import ContactItem from '../components/ContactItem.astro';
import EmailIcon from '../components/icons/email.astro';
import GithubIcon from '../components/icons/github.astro';
import GlobeIcon from '../components/icons/globe.astro';
import PersonIcon from '../components/icons/person.astro';
import PhoneIcon from '../components/icons/phone.astro';

export interface Props extends BlockProps {}

---

<style>
  .contact {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    & h3 {
      flex: 8em 1 0;
    }

    & > p {
      flex: auto 0.5 0;
      margin-top: 0;
      line-height: 13px;
      white-space: break-spaces;
      padding: 0 1em;
    }

    @media print {
      flex-wrap: wrap;
      height: 2cm;
      width: 10cm;
    }
  }
</style>
<Block header="Contact">
  <div class="contact content">
    <ContactItem>
      <PersonIcon slot="icon" />
       方承宥 Lance Fang
    </ContactItem>
    <ContactItem>
      <EmailIcon slot="icon" />
      <a target="_blank" href="mailto:lavi_fang@proton.me"
        >lavi_fang@proton.me (prefered)</a
      >
    </ContactItem>
    <ContactItem>
      <PhoneIcon slot="icon" />
       (+886) 960775000
    </ContactItem>
    <ContactItem>
      <GithubIcon slot="icon" />
      <a target="_blank" href="https://github.com/Lauviah0622">lauviah0622</a>
    </ContactItem>
    <ContactItem>
      <GlobeIcon slot="icon" />
      <a target="_blank" href="https://lavif.me">lavif.me</a>
    </ContactItem>
  </div>
</Block>
