---
import Period from '../components/Period.astro';
import Block from '../components/Block.astro';
import multilangSpliter from '../utils/multilangSpliter.js';

export interface Props extends BlockProps {}
const { lang = 'tw' } = Astro.props;

const files = await Astro.glob('../content/experience/*.md');
const mds = multilangSpliter(files, lang, true);
---

<style>
  .content {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @media print {
      gap: 0.2cm;
    }
  }
</style>
<Block header="Experiece">
  <div class="content">
    {
      mds.map(({ frontmatter, Content }) => {
        return (
          <Period
            to={frontmatter.to}
            from={frontmatter.from}
            company={frontmatter.company}
          >
            <Content />
          </Period>
        );
      })
    }
  </div>
</Block>
