---
import multilangSpliter from '../utils/multilangSpliter.js';

export interface Props extends BlockProps {}

const { lang = 'tw' } = Astro.props;
const files = await Astro.glob('../content/intro/*.md');
const md = multilangSpliter(files, lang);

const Markdown = md.Content;
---

<style>
  .intro {
    display: flex;

    @media (max-width: 720px) {
      flex-direction: column;
    }

    @media print {
      display: block;
    }
  }

  .content {
    padding-left: 0px;
    @media (max-width: 720px) {
      padding: 0 1em;
    }

    @media print {
      padding-left: 0px;
    }
  }
</style>
<section class="intro">
  <div class="content">
    <Markdown />
  </div>
</section>
