---
import multilangSpliter, {
  type MD,
  type LangProps,
} from '../utils/multilangSpliter.js';

export interface Props extends LangProps {}

const { lang = 'tw' } = Astro.props;
const files = await Astro.glob('../content/intro/*.md');
const md = multilangSpliter(files, lang);

const Markdown = md.Content;
---

<style>
  .intro {
    display: flex;
    & :global(h2) {
      color: var(--color-secondary);
      font-size: 2em;
      font-weight: 400;
    }

    @media (max-width: 720px) {
      flex-direction: column;
    }

    @media print {
      display: block;
    }
  }

  .avatar {
    height: 20em;
    flex-shrink: 0;
    @media (max-width: 720px) {
      width: 70%;
      margin: 15% auto;
    }
  }

  .content {
    padding-right: 0px;
    line-height: 1.8em;
    @media (max-width: 720px) {
      :is(h2) {
        text-align: center;
      }
      padding-left: 0;
      padding: 0 1em;
    }
  }
</style>
<section class="intro">
  <div class="content">
    <Markdown />
  </div>
</section>
