---
import Project from '../components/Project.astro';
import Block from '../components/Block.astro';
import multilangSpliter from '../utils/multilangSpliter.js';

export interface Props extends BlockProps {}

const { lang = 'tw' } = Astro.props;

const files = await Astro.glob('../content/projects/*.{md, mdx}');
const mds = multilangSpliter(files, lang, true);
---

<style>
  .content {
    display: flex;
    flex-direction: column;
  }
</style>
<Block header="Projects">
  <div class="content">
    {
      mds.map(({ frontmatter, Content }) => {
        return (
          <Project
            title={frontmatter.title}
            link={frontmatter.link}
            repo={frontmatter.repo}
            links={frontmatter.links}
          >
            <Content />
          </Project>
        );
      })
    }
  </div>
</Block>
