---
import Block from '../components/Block.astro';

import multilangSpliter from '../utils/multilangSpliter.js';

export interface Props extends BlockProps {}
const { lang = 'tw' } = Astro.props;

const files = await Astro.glob('../content/skill/*.md');
const md = multilangSpliter(files, lang);
---

<style>
  .skill {
    @media (max-width: 720px) {
      column-count: 1;
    }
  }
</style>
<Block header="Skill">
  <div class="skill content">
    <md.Content />
  </div>
</Block>
